*
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body
{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}
/*header stuff*/
.header
{
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 6px;
  height: 60px;
  justify-content: flex-end;
}

.container
{
  display: flex;
  justify-content: flex-end;
  height: 48px;
  align-items: inherit;
}
.container-item {
    display: inline-block;
}
.container-item:not(:last-child)
{
  padding-left: .8rem
}
.header a
{
  text-decoration: none;
  border:  1px solid transparent;
  display: flex;
  color: black;
}

.menu-icon
{
  margin: 4px 4px 4px 8px;
  width: 1.5rem;
  height: 1.5rem;
  display: inherit;
  fill: #5f6368;
}
.Menu-apps:hover::after
{
  content: "";
  position: fixed;
  top: 11px;
  margin-left: 1px;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  background-color: rgba(60,64,67,0.08);
  animation: all .5s ease;
}
